*{padding:0
margin:0
box-sizing:border-box;
font-family:Arial, sans-serif;
}
body {min-height:100vh;
    background-image:linear-gradientlinear-gradient(
     #ff7e5f,
     #feb47b
     pink
     purple
     fuchsia
     lightpink);
nav{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding: 30px 150px;
}
nav ul{
    display:flex;
    justify-content:center;
    gap:5em;
    margin-right:25em;
    list-style:none;
}
nav ul a{
    color:#fff;
    padding:5px 15px;
    border-radius:5px;
    transition:0.3s ease;
    font-size:18px;
    text-decoration:none;
}
nav > a{
    color:#fff;
    font: size 32px;px;
    text-decoration:none;
}
section{
    padding:10%;
    color:#fff
}